.menu-left {
  position: fixed;
  width: 50px;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  padding-top: 56px;
  transition: width 0.2s ease-out;
  .menu-left-container {
    background-color: #222d32;
    height: 100%;
  }
}