@import "mdi";

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  background-color: #f1f1f1;
}

.content {
  position: absolute;
  background-color: #f1f1f1;
  margin-left: 50px;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: margin-left 0.2s ease-out;
}

accordion {
  &.panel-group {
    .panel {
      .panel-default {
        background-color: transparent;
        margin-top: 0;
        border: none;
        border-radius: 0;
        .panel-heading {
          border: none;
          background-color: transparent;
          padding: 0;
          .btn {
            text-align: left;
            padding: 15px;
            display: block;
            text-decoration: none;
            font-size: 14px;
            color: #dce2e4;
            line-height: 1.1;
            &:hover {
              color: #ffffff;
            }
            &:before {
              margin-right: 18px;
            }
            > span {
              opacity: 0;
              transition: opacity 0.2s ease-out;
            }
          }
        }
      }
    }
  }
}

.container-section {
  max-width: 1170px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  &.container-section-md {
    max-width: 970px;
  }
}

.open-menu-left {
  .menu-left {
    width: 230px !important;
    .panel-heading {
      .btn {
        > span {
          opacity: 1 !important;
        }
      }
    }
  }
  .content {
    margin-left: 230px;
  }
}

.table {
  font-size: 14px;
  margin-bottom: 0;
  > thead, tbody {
    > td, th {
      &.condensed {
        width: 1%;
        white-space: nowrap;
      }
    }
  }
  > thead > tr > th {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5;
    border-bottom: 1px solid #dddddd;

  }
  > tbody {
    > tr > td {
      vertical-align: middle;
    }
  }
  .container-actions {
    > * {
      opacity: 0;
    }
    min-width: 140px;
  }
  tr {
    &.show-actions {
      .container-actions {
        > * {
          opacity: 1;
        }
      }
    }
  }
  .checkbox {
    label {
      padding-left: 8px;
    }
    input[type="checkbox"] {
      margin: 0;
    }
  }
}

.card {
  position: relative;
  .panel-overlay {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .empty-content {
    background-color: #fff !important;
    &--container {
      padding: 30px 0;
      .empty-content-image {
        display: inline-block;
        width: 80px;
        height: 80px;
        background-color: #eee;
        border-radius: 50%;
        position: relative;
        > .mdi {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -24px;
          margin-top: -24px;
          color: #aaa;
          &:before {
            line-height: 48px;
          }
        }
      }
    }
  }
}